body {
    background-image: url("../images/mountains.jpg");
}

h1 {
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

h1:hover {
    color: lightskyblue;
}

#link{
    color: ghostwhite;
    text-decoration: none;
}

#link:hover{
    color: lightskyblue;
}

